<?xml version="1.0"?>

<launch>
	<!-- Debug Info -->
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />	
	<arg name="component_name" value="arm_left"/>
	<arg name="debug_config_parameter" value="false"/>
	<arg name="debug_kinematic_cal" value="false"/>
	<arg name="debug_collision_detection" value="false"/>
	
    <group ns="$(arg component_name)">
        <node if="$(arg debug_config_parameter)" pkg="predictive_control" type="predictive_configuration_test" name="predictive_configuration_test" cwd="node" respawn="false" output="screen"/>
        <node if="$(arg debug_kinematic_cal)" pkg="predictive_control" type="kinematic_calculations_test" name="kinematic_calculations_test" cwd="node" respawn="false" output="screen"/>
        <node if="$(arg debug_collision_detection)" pkg="predictive_control" type="collision_detection_test" name="collision_detection_test" cwd="node" respawn="false" output="screen"/>
    </group>
		
    </group>
	
</launch>  
