<?xml version="1.0"?>
<launch>
  <arg name="component_name" default="arm"/>

  <node name="pos_vel_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/$(arg component_name)/joint_group_velocity_controller/command/data[0]
        /$(arg component_name)/joint_group_velocity_controller/command/data[1]
        /$(arg component_name)/joint_group_velocity_controller/command/data[2]
        /$(arg component_name)/joint_group_velocity_controller/command/data[3]
        /$(arg component_name)/joint_group_velocity_controller/command/data[4]
        /$(arg component_name)/joint_group_velocity_controller/command/data[5]
        /$(arg component_name)/joint_group_velocity_controller/command/data[6]" />
</launch>

